table {
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0 15px;
}
tr {
    border: 1px solid black;
}
th, td {
    width: 100px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

label {
    margin-top: 10px;
}

span {
    color: rgb(173, 22, 22);
}